.WordInput {
  text-align: center;
}

input {
  font-size: 2rem;
  text-align: center;
  background-color: #282c34;
  color: #ffffff;
  border-top: none;
  border-left: none;
  border-right: none;
  margin: 5px;
  border-bottom: 1px, solid, #ffffff;
  width : 50px;
}