.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-start-game-btn {
  padding: 2rem;
  font-size: 2rem;
  background-color: #90C3D4;
  font-weight: bold;
}

.App-start-game-btn:hover {
  cursor: pointer;
}
